bin/
logs/
*.svg
*.pl
*.graph
*.csv
*.osm.pbf
*.text
*.txt
coba/

*.prof
*.mprof

.vscode/
frontend/

output*

*.log
*.db
*.index
*.prof
*.pprof
idk/
*.mlp
*.json
*.xlsx

*.mm
cmd/ttf_generator/
dataori/

*.tpgr
*.coordinate
*.lm

pprof_cheatsheet.txt
navigatorx-cpu-profile
navigatorx-heap
navigatorx-cpu-profile2
*.cpu
*.mem
benchmark.test
navigatorx*

*coverage*
!.github/.testcoverage.yml
*.cache


*.csv

*.tar.gz

**/config.yaml
!data/config.yaml
*.co
*.gr
*.p2p
*.chk

*.ss
!solo.osm.pbf
!yogyakarta.osm.pbf
*.txt
cover*

notes/
*.log
*.bin

tiles/
data/car/tiles/
*.osm
*.tile
*.wasm
*.test
*.jar
*.aar
debug/

